VITE_ACCESS_MODE=public_product
VITE_ENABLE_SIGNUP=false
VITE_SESSION_TTL_MS=28800000
OWNER_USER_ID=OPTIONAL_FOR_PROTECTED_ROUTES
OWNER_EMAIL=OPTIONAL_FOR_PROTECTED_ROUTES
OWNER_LOGIN_USERNAME=OPTIONAL_FOR_PROTECTED_ROUTES
OWNER_LOGIN_PASSWORD_HASH=OPTIONAL_FOR_PROTECTED_ROUTES
OWNER_LOGIN_PASSWORD_SALT=OPTIONAL_FOR_PROTECTED_ROUTES
OWNER_LOGIN_PASSWORD_ITERATIONS=210000
PRELAUNCH_SESSION_SECRET=OPTIONAL_FOR_PROTECTED_ROUTES
PRELAUNCH_ACCESS_KEY=OPTIONAL_UNUSED_IN_PUBLIC_PRODUCT
PRELAUNCH_GATE_TTL_MS=43200000
